<div class="container">

<div class="row card2">
    <div class="col-lg-3">
    <h1>Lista de Consultas</h1>
  </div>
  <div class="col-lg-7">

  </div>
  <div class="col-lg-2"><br><br>
   <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Agregar Consulta
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ponle un titulo a tu consulta</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form #formAssistant="ngForm" >
                <div class="row">
                  <div class="col-md-3"></div>
                   
                    <div class="col-md-6 col-xs-6 ">
                        <p>
                            <br>
                            <label>Titulo de la consulta:</label>
                            <input type="text" #nameEstablishment="ngModel" name="nameEstablishment" [(ngModel)]="consult.title" required
                                class="form-control form-control-lg"  />
    
                        </p>
    
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <button type="button" (click)='onSubmit()' data-dismiss="modal" value="{{'Agregar'}}" class="btn btn-primary" >Continuar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-secondary" >salir</button>
        
        </div>
      </div>
    </div>
  </div>
  </div>
</div>


<div class="row card2" *ngIf="identity.role=='ROLE_USER'">
  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="headind_srch">
          <div class="recent_heading">
            <h4>Consultas</h4>
          </div>
         
        </div>
        <div class="inbox_chat" >
          <div class="chat_list active_chat"(click)="getRespuestas(consultas._id)" *ngFor="let consultas of consultasc">
            <div class="chat_people" >
              <div class="chat_img"> <img src="{{url +'get-image-user/'+consultas.cliente.image}}" alt="sunil"> </div>
              <div class="chat_ib">
                  <label>{{consultas.cliente.name+' '+consultas.cliente.surname+' '}}</label><span class="chat_date"><a href="{{'mailto:'+consultas.cliente.email}}"> <i class="fas fa-envelope"></i></a></span> <span class="chat_date"><a href="{{'tel:'+consultas.cliente.phone}}"> <i class="fas fa-phone"></i></a></span>
                 <p>{{consultas.title}}</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="mesgs">
        <div class="msg_history" #container>

            
          <div [class.incoming_msg]="respuestas.cliente._id!=identity._id" [class.outgoing_msg]="identity._id==respuestas.cliente._id" *ngFor="let respuestas of respuestas">
              <div *ngIf="respuestas.cliente._id!=identity._id" class="incoming_msg_img"> <img src="{{url+'get-image-user/'+respuestas.cliente.image}}" alt="sunil"> </div>
            <div  [class.received_msg]="respuestas.cliente._id!=identity._id" [class.sent_msg]="identity._id==respuestas.cliente._id">
              <div [class.received_withd_msg]="respuestas.cliente._id!=identity._id">
                <p>{{respuestas.body}}</p>
                <span class="time_date"> {{respuestas.date}}</span></div>
            </div>
          </div>
          
          <hr>
        </div>
        <div class="type_msg">
          <div class="input_msg_write"><form  #formAssistant="ngForm" (ngSubmit)="onSubmitResponse()">
              <input type="text" placeholder="Escribe Aqui" #body="ngModel" name="body" [(ngModel)]="respuesta.body" required
              class="form-control form-control-lg"  (keyup.enter)="onSubmitResponse()" />
              <button class="msg_send_btn" type="submit"><i class="fas fa-paper-plane" aria-hidden="true"></i></button>
             

          </form>
            
          </div>
        </div>
      </div>
    </div>
    
    
  </div>
</div>
<div class="row card2" *ngIf="identity.role!='ROLE_USER'">
    <div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Consultas</h4>
            </div>
           
          </div>
          <div class="inbox_chat" >
            <div class="chat_list active_chat"(click)="getRespuestas(consultas._id)" *ngFor="let consultas of consultas">
              <div class="chat_people" >
                <div class="chat_img"> <img src="{{url +'get-image-user/'+consultas.cliente.image}}" alt="sunil"> </div>
                <div class="chat_ib">
                    <label>{{consultas.cliente.name+' '+consultas.cliente.surname+' '}}</label><span class="chat_date"><a href="{{'mailto:'+consultas.cliente.email}}"> <i class="fas fa-envelope"></i></a></span> <span class="chat_date"><a href="{{'tel:'+consultas.cliente.phone}}"> <i class="fas fa-phone"></i></a></span>
                   <p>{{consultas.title}}</p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <div class="mesgs">
          <div class="msg_history" #container>
  
              
            <div [class.incoming_msg]="respuestas.cliente._id!=identity._id" [class.outgoing_msg]="identity._id==respuestas.cliente._id" *ngFor="let respuestas of respuestas">
                <div *ngIf="respuestas.cliente._id!=identity._id" class="incoming_msg_img"> <img src="{{url+'get-image-user/'+respuestas.cliente.image}}" alt="sunil"> </div>
              <div  [class.received_msg]="respuestas.cliente._id!=identity._id" [class.sent_msg]="identity._id==respuestas.cliente._id">
                <div [class.received_withd_msg]="respuestas.cliente._id!=identity._id">
                  <p>{{respuestas.body}}</p>
                  <span class="time_date"> {{respuestas.date}}</span></div>
              </div>
            </div>
            
            <hr>
          </div>
          <div class="type_msg">
            <div class="input_msg_write"><form  #formAssistant="ngForm" (ngSubmit)="onSubmitResponse()">
                <input type="text" placeholder="Escribe Aqui" #body="ngModel" name="body" [(ngModel)]="respuesta.body" required
                class="form-control form-control-lg"  (keyup.enter)="onSubmitResponse()" />
                <button class="msg_send_btn" type="submit"><i class="fas fa-paper-plane" aria-hidden="true"></i></button>
               
  
            </form>
              
            </div>
          </div>
        </div>
      </div>
      
      
    </div>
  </div>


<div class="row card2">

    <div id="kDMYz" style="display:inline-block; padding-left: 3%; padding-right:3%; width: 20%;">
      <img id="kDMY_0" style="width:100%;" class="img-responsive" src="../../assets/images/roche.jpeg">
    </div>
    <div id="kDMYz" style="display:inline-block; padding-left: 3%; padding-right:3%; width: 20%;">
      <img id="kDMY_0" style="width:100%;" class="img-responsive" src="../../assets/images/roger.jpeg">
    </div>
    <div id="kDMYz" style="display:inline-block; padding-left: 3%; padding-right:3%; width: 20%;">
      <img id="kDMY_0" style="width:100%;" class="img-responsive" src="../../assets/images/skins.jpeg">
    </div>
    <div id="kDMYz" style="display:inline-block; padding-left: 3%; padding-right:3%;width: 20%;">
      <img id="kDMY_0" style="width:100%;" class="img-responsive" src="../../assets/images/vichy.jpeg">
    </div>
    <div id="kDMYz" style="display:inline-block; padding-left: 3%; padding-right:3%;width: 20%;">
      <img id="kDMY_0" style="width:100%;" class="img-responsive" src="../../assets/images/CERAVE.png">
    </div>

  </div>


</div>