<div class="col-lg-12 " style="margin: 15px;" *ngIf="identity">
    <div class="container">
        <div class="row card2" style="width: 100%">
            <h1 > MI PERFIL </h1>
        </div>
        <div class="row card2" style="width: 100%">
                <div class="col-lg-3">
                    <div class="card">
                        <img class="card-img-top" src="{{ url +'/get-image-user/' + cliente.image}}" *ngIf="cliente.image && cliente.image!=='null'"
                            alt="Card image cap">
                        <div class="card-body">
                            <FONT FACE="Gotham Light" SIZE=4 style="color: rgb(17,152,184); text-transform: capitalize">
                                {{identity.name}}
                            </FONT>
                            <br>
                            <FONT FACE="Gotham Light" SIZE=4 style="color: rgb(17,152,184)">
                                {{identity.surname}}
                            </FONT>
                            <p class="card-text">
                            <a [routerLink]="['/editarcliente',cliente._id]" class="btn btn-secondary">
                            Editar <i class="fas fa-plus-circle"></i></a>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="row " style="width: 40%">
                    <div class="col-lg-8">
                        <table class="egt">
                            <tr>
        
                                <th>
                                    <FONT FACE="Gotham Light" SIZE=2 style="color: rgb(17,152,184)">
                                            Farmacia:
                                    </FONT>
                                </th>
        
                                <td>
                                    <FONT FACE="Gotham Light" SIZE=2 style="color: rgb(127,127,127)">
                                        {{identity.nameEstablishment}}
                                    </FONT>
                                </td>
        
                            </tr>
                            <br>
                            <tr>
        
                                <th>
                                    <FONT FACE="Gotham Light" SIZE=2 style="color: rgb(17,152,184)">
                                        Código de Farmacia:
                                    </FONT>
                                </th>
        
                                <td>
                                    <FONT FACE="Gotham Light" SIZE=2 style="color: rgb(127,127,127)">
                                            &nbsp;{{identity.code}}
                                    </FONT>  
                                </td>
        
                            </tr>
                            <br>
                            <tr>
        
                                <th>
                                    <FONT FACE="Gotham Light" SIZE=2 style="color: rgb(17,152,184)">
                                            Email:
                                    </FONT>
                                </th>
        
                                <td>
                                    <FONT FACE="Gotham Light" SIZE=2 style="color: rgb(127,127,127)">
                                        {{identity.email}}
                                    </FONT> 
                                </td>
        
                            </tr>
                            <br>
                            <tr>
        
                                <th>
                                    <FONT FACE="Gotham Light" SIZE=2 style="color: rgb(17,152,184)">
                                            Teléfono:
                                    </FONT>
                                </th>
        
                                <td>
                                    <FONT FACE="Gotham Light" SIZE=2 style="color: rgb(127,127,127)">
                                        {{identity.phone}}
                                    </FONT> 
                                </td>
        
                            </tr>
                            <br>
                            <tr>
        
                                <th>
                                    <FONT FACE="Gotham Light" SIZE=2 style="color: rgb(17,152,184)">
                                        NIF/CIF:
                                    </FONT>
                                </th>
        
                                <td>
                                    <FONT FACE="Gotham Light" SIZE=2 style="color: rgb(127,127,127)">
                                        {{identity.nifCif}}
                                    </FONT>
                                </td>
        
                            </tr>
                            <br>
                            <tr>
        
                                <th>
                                    <FONT FACE="Gotham Light" SIZE=2 style="color: rgb(17,152,184)">
                                            Provincia:
                                    </FONT>
                                </th>
        
                                <td>
                                    <FONT FACE="Gotham Light" SIZE=2 style="color: rgb(127,127,127)">
                                        {{identity.province}}
                                    </FONT>
                                </td>
        
                            </tr>
                            <br>
                            <tr>
        
                                <th>
                                    <FONT FACE="Gotham Light" SIZE=2 style="color: rgb(17,152,184)">
                                            Dirección:
                                    </FONT>
                                </th>
        
                                <td>
                                    <FONT FACE="Gotham Light" SIZE=2 style="color: rgb(127,127,127)">
                                        {{identity.street}}
                                    </FONT>
                                </td>
            
                            </tr>
                            <br>
                            <tr>
    
                                <th>
                                    <FONT FACE="Gotham Light" SIZE=2 style="color: rgb(17,152,184)">
                                            Código Postal:
                                    </FONT>
                                </th>
        
                                <td>
                                    <FONT FACE="Gotham Light" SIZE=2 style="color: rgb(127,127,127)">
                                        {{identity.zip}}
                                    </FONT>
                                </td>
                            </tr>
                            <br>
                            <tr>
                            
        
                                <th>
                                    <FONT FACE="Gotham Light" SIZE=2 style="color: rgb(17,152,184)">
                                        Rol:
                                    </FONT>
                                </th>
        
                                <td>
                                    <FONT *ngIf="identity.role=='ROLE_ADMIN'" FACE="Gotham Light" SIZE=2 style="color: rgb(127,127,127)">
                                            Administrador
                                    </FONT>
                                    <FONT *ngIf="identity.role=='ROLE_USER'" FACE="Gotham Light" SIZE=2 style="color: rgb(127,127,127)">
                                            Usuario
                                    </FONT>
                                    <FONT *ngIf="identity.role=='ROLE_AGENTE'" FACE="Gotham Light" SIZE=2 style="color: rgb(127,127,127)">
                                            Agente
                                    </FONT>
                                    <FONT *ngIf="identity.role=='ROLE_ENCARGADO'" FACE="Gotham Light" SIZE=2 style="color: rgb(127,127,127)">
                                            Encargado
                                    </FONT>
                                </td>
        
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-lg-4">
                    <table class="egt">
                        
                        <tr>
        
                            <th>
                                <FONT FACE="Gotham Light" SIZE=2 style="color: rgb(17,152,184)">
                                       <p> Marcas:</p>
                                </FONT>
                            </th>
        
                            <td >
                                <br>
                                <FONT *ngIf="identity.brandV=='1'"  FACE="Gotham Light" SIZE=2 style="color: rgb(127,127,127);">
                                        <p style="width: 100%">Vichy</p>
                                </FONT>
                                <FONT *ngIf="identity.brandSK=='1'"  FACE="Gotham Light" SIZE=2 style="color: rgb(127,127,127);">
                                        SkinCeuticals&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </FONT>
                                <FONT *ngIf="identity.brandLR=='1'"  FACE="Gotham Light" SIZE=2 style="color: rgb(127,127,127); ">
                                        La Roche-Posay&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </FONT>
                                <FONT *ngIf="identity.brandRG=='1'"  FACE="Gotham Light" SIZE=2 style="color: rgb(127,127,127); ">
                                        Roger&Gallet&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </FONT>
                                <FONT *ngIf="identity.brandCV=='1'"  FACE="Gotham Light" SIZE=2 style="color: rgb(127,127,127); ">
                                        CeraVE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </FONT>
                            </td>
        
                        </tr>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>    
                        <td style="text-align: right;">
                            <br>
                            <br>
                            <br>
                            <br>   
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <a [routerLink]="['/panel-admin']" class="btn btn-md btn-secondary" style="text-align: right;">
                                Notificaciones
                                <i class="fas fa-plus-circle"></i>
                            </a>
                            <br>
                            <br>
                            <a [routerLink]="['/evento/1']" class="btn btn-md btn-primary" style="text-align: right;">
                                Volver
                                <i class="fas fa-arrow-circle-left"></i>
                            </a>
                        </td>
                    </table>
                </div>
                
        
        
            </div>
        <!-- <div class="row  animated fadeInRight">
            <div class="col-md-12 card2">
                <br>
                <br>
                <h2>{{titulo}}</h2>
                <hr class="lineatitle" />

                <div *ngIf="AlertMessage" class="alert alert-warning">
                    <strong>Respuesta:</strong>{{AlertMessage}}
                </div>
                <form #ClienteupdateForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-11">
                    <div class="row">

                        <div class="col-sm-4">
                            <br>
                            <br>
                            <br>
                            <br>

                            <div class="form-group">
                                <label for="name" class="cols-sm-2 control-label">Nombre:</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-user fa" aria-hidden="true"></i>
                                        </span>&nbsp;
                                        <input type="text" #name="ngModel" name="name" [(ngModel)]="cliente.name" class="form-control" required placeholder="Introduce tu Nombre"
                                        />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-4">
                            <br>
                            <br>
                            <br>
                            <br>

                            <div class="form-group">
                                <label for="surname" class="cols-sm-2 control-label">Apellidos:</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-user fa" aria-hidden="true"> </i>
                                        </span>&nbsp;
                                        <input type="text" #surname="ngModel" name="surname" [(ngModel)]="cliente.surname" class="form-control" required placeholder="Introduce tus Apellidos"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-lg-12">
                                <div class="image_for_edit" *ngIf="cliente.image && cliente.image !=null">
                                    <img src="{{url+'get-image-user/'+cliente.image}}" class="useravatar" />
                                </div>
                                <br>

                            </div>
                            <div class="col-lg-12">

                                <div class="upload-btn-wrapper">
                                    <button class="btno">Seleccionar Foto</button>
                                    <input type="file" placeholder="Browse" (change)="fileChangeEvent($event)" />
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="phone" class="cols-sm-2 control-label">Telefono:</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fas fa-mobile fa"></i>
                                        </span>&nbsp;
                                        <input type="text" #phone="ngModel" name="phone" [(ngModel)]="cliente.phone" class="form-control" placeholder="Introduce tu Telefono"
                                        />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6">

                            <div class="form-group">
                                <label for="nameEstablishment" class="cols-sm-2 control-label">Establecimiento:</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fas fa-map fa"></i>
                                        </span>&nbsp;
                                        <input type="text" value="{{identity.nameEstablishment}}" class="form-control" disabled/>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-4">

                            <div class="form-group">
                                <label for="email" class="cols-sm-2 control-label">e-Mail:</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fas fa-at fa"></i>
                                        </span>&nbsp;
                                        <input type="text" value="{{identity.email}}" class="form-control" disabled/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">

                            <div class="form-group">
                                <label for="nameEstablishment" class="cols-sm-2 control-label">Dirección:</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fas fa-road fa"></i>
                                        </span>&nbsp;
                                        <input type="text" value="{{identity.street}}" class="form-control" disabled/> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            
                                <label>Codigo Postal:</label>
                                <div class="input-group">
                                <span class="input-group-addon"><i class="fas fa-envelope-square"></i>
                                </span>&nbsp;
                                <input type="text" value="{{identity.zip}}" class="form-control" disabled/>
                            </div>
                            
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="role" class="cols-sm-2 control-label">Provincia:</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fas fa-map-marker"></i>
                                        </span>&nbsp;
                                        <input type="text" value="{{identity.province}}" class="form-control" disabled/> </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                            <div class="col-sm-4">
        
                                <div class="form-group">
                                    <label for="email" class="cols-sm-2 control-label">Codigo de Farmacia:</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                    <i class="fab fa-periscope"></i>
                                            </span>&nbsp;
                                            <input type="text" value="{{identity.code}}" class="form-control" disabled/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
        
                                <div class="form-group">
                                    <label for="nameEstablishment" class="cols-sm-2 control-label">NIF/CIF:</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fas fa-id-card"></i>
                                            </span>&nbsp;
                                            <input type="text" value="{{identity.nifCif}}" class="form-control" disabled/> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4"><br>
                                    <div  *ngIf="cliente.file && cliente.file !=null">
                                        <a class="btn btn-md btn-primary" href="{{url+'get-ficha/'+identity.file}}"> <i class="fas fa-file-download"></i>&nbsp;Descargar Ficha</a>
                                    </div>
                                    <br>
            
                                </div>
                            
                        </div>
                    
                    <div class="row">
                        <div class="col-lg-11"></div>
                        <input type="submit" value="Actualizar Perfil" class="btn btn-primary">
                    </div>


                </form>
                
                <br>
                <br>


            </div>
        </div> -->
    </div>
</div>