<div *ngIf="cliente">
    <div class="row">
        <div class="row card2" style="width: 100%">
            <!-- <div class="col-lg-3"> -->
            <div class="col-lg-3">
                <div class="card">
                    <img class="card-img-top" src="{{ url +'/get-image-user/' + cliente.image}}" *ngIf="cliente.image && cliente.image!=='null'"
                        alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">{{cliente.name}} {{cliente.surname}}</h3>
                        <p class="card-text">

                            <a [routerLink]="['/panel-admin'] " class="btn btn-secondary">
                                <i class="fas fa-arrow-circle-left"></i> Volver</a>
                            <a (click)="mostrarEventos()" class="btn btn-primary" *ngIf="identity.role=='ROLE_ADMIN'">
                                <i class="fas fa-plus-circle"></i> Inscribir a Evento</a>

                    </div>

                </div>

            </div>
            <div class="row " style="width: 30%">
                <div class="col-lg-8">
                    <table class="egt">
                        <!-- <tr>

                        <th scope="row">Detalle</th>
                    
                    </tr>
                    <hr> -->
                        <tr>

                            <th>
                                <strong>
                                    <i class="fas fa-building"></i> Establecimiento:</strong>
                            </th>

                            <td>
                                <label> {{cliente.nameEstablishment}}</label>
                            </td>

                        </tr>
                        <hr>
                        <tr>

                            <th>
                                <strong>
                                    <i class="fas fa-envelope"></i> Email:</strong>
                            </th>

                            <td>
                                <label> {{cliente.email}}</label>
                            </td>

                        </tr>
                        <hr>
                        <tr>

                            <th>
                                <strong>
                                    <i class="far fa-address-card"></i> Nif/Cif</strong>
                            </th>

                            <td>
                                <label> {{cliente.nifCif}}</label>
                            </td>

                        </tr>
                        <hr>
                        <tr>

                            <th>
                                <strong>
                                    <i class="fas fa-phone"></i> Telefono:</strong>
                            </th>

                            <td>
                                <label> {{cliente.phone}}</label>
                            </td>

                        </tr>
                        <hr>
                        <tr>

                            <th>
                                <strong>
                                    <i class="fas fa-key"></i> Rol:</strong>
                            </th>

                            <td>
                                    <!-- <label > {{cliente.role}} </label> -->
                                <label *ngIf="cliente.role=='ROLE_ADMIN'" > Administrador </label>
                                <label *ngIf="cliente.role=='ROLE_USER'"> Usuario </label>
                                <label *ngIf="cliente.role=='ROLE_AGENTE'"> Agente </label>
                                <label *ngIf="cliente.role=='ROLE_ENCARGADO'"> Encargado </label>
                            </td>

                        </tr>
                        <hr>
                    </table>
                </div>
            </div>
            <div class="col-lg-4">
                <table class="egt">
                    <tr>

                        <th>
                            <strong>
                                <i class="fas fa-file-archive"></i> Zip:</strong>
                        </th>

                        <td>
                            <label> {{cliente.zip}}</label>
                        </td>

                    </tr>
                    <hr>
                    <tr>

                        <th>
                            <strong>
                                <i class="fas fa-location-arrow"></i> Provincia:</strong>
                        </th>

                        <td>
                            <label> {{cliente.province}}</label>
                        </td>

                    </tr>
                    <hr>
                    <tr>

                        <th>
                            <strong>
                                <i class="fas fa-map-marker-alt"></i> Street:</strong>
                        </th>

                        <td>
                            <label> {{cliente.street}}</label>
                        </td>

                    </tr>
                    <hr>
                    <tr>

                        <th>
                            <strong>
                                <i class="far fa-registered"></i> Marcas:</strong>
                        </th>

                        <td>
                            <label *ngIf="cliente.brandV=='1'" style="width: 100%">
                                <i class="fas fa-dot-circle"></i> Vichy.
                                <br> </label>

                            <label *ngIf="cliente.brandSK=='1'" style="width: 100%">
                                <i class="fas fa-dot-circle"></i> SkinCeuticals.
                                <br> </label>

                            <label *ngIf="cliente.brandLR=='1'" style="width: 100%">
                                <i class="fas fa-dot-circle"></i> La Roche-Posay.
                                <br> </label>

                            <label *ngIf="cliente.brandRG=='1'" style="width: 100%">
                                <i class="fas fa-dot-circle"></i> Roger&Gallet.
                                <br>
                            </label>
                        </td>

                    </tr>
                </table>
                <div class="row">

                    <div class="col-md-3">
                        <div *ngIf="cliente.file && cliente.file !=null">
                            <a class="btn btn-md btn-primary" href="{{url+'get-ficha/'+cliente.file}}">
                                <i class="fas fa-file-download"></i>&nbsp;Descargar Ficha</a>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
    <div class="row card2" *ngIf="oculto">
        <div *ngIf="!selected">
        <label for="Eventos">Seleccionar Evento:</label>
        <table class="table table-black">
            <thead>
                <tr>

                    <th scope="col">Titulo del evento</th>
                    <th scope="col">Provincia</th>
                    <th scope="col">Seleccionar</th>
                </tr>
            </thead>
            <tbody>
                <tr class="animated bounceInRight" *ngFor="let event of eventos | filter:term:brand:visible:name:email:establecimiento:phone">

                    <td scope="row">{{event.title}}</td>
                    <td>{{event.province}}</td>
                    <td><a (click)="mostrarTurnos(event)" class="btn btn-primary btn-md">
                            <i class="fas fa-info-circle"></i> Seleccionar</a></td>
                    

                </tr>

            </tbody>
        </table>
    </div>

    <div *ngIf="selected">
        <label  for="turno">Seleccionar Turno:</label>
        <table class="table table-black">
            <thead>
                <tr>

                    <th scope="col">Nombre</th>
                    <th scope="col">Hora Inicio</th>
                    <th scope="col">Hora Fin</th>
                    <th scope="col">Fecha Inicio</th>
                    <th scope="col">Fecha Fin</th>
                    <th scope="col">Inscribir</th>
                </tr>
            </thead>
            <tbody>
                <tr class="animated bounceInRight" *ngFor="let turno of turnos | filter:term:brand:visible:name:email:establecimiento:phone">

                    <td scope="row">{{turno.name}}</td>
                    <td>{{turno.start_h}}</td>
                    <td>{{turno.end_h}}</td>
                    <td>{{turno.date_start}}</td>
                    <td>{{turno.date_end}}</td>
                    <td>
                        <a (click)="GeneraAsistencia(turno)" class="btn btn-primary btn-md">
                                <i class="fas fa-plus-circle"></i> Inscribir</a>
                    </td>
                   
                </tr>

            </tbody>
        </table>
    </div>

    </div>

    <div class="row card2" style="width: 100%">
        <div class="col-lg-12">
            <h2>Eventos del Usuario {{cliente.name}} :</h2>

        </div>


        <div class="page-item col-md-3 animated fadeInRight" *ngFor="let asist of asistencias">
            <!-- Card Projects -->

            <div class="card">
                <div class="card-image" [routerLink]="['/detalle-evento',asist.turno.event._id] ">
                    <div class="coantainer">
                        <img src="{{ url +'/get-image-event/' + asist.turno.event.image}}" alt="Avatar" class="img-responsive imasge" style="width:100%">
                        <div class="middles">
                            <div class="texto">
                                <p>
                                    <button class="btn btn-danger">
                                        Ver más.
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card-action">
                    <div class="alinear">
                        <a class="card-title" [routerLink]="['/detalle-evento',asist._id] ">
                            <!-- <i class="fas fa-user-tie"> </i>  -->
                            {{asist.turno.event.title}}
                        </a>
                        <label>
                            <i class="fas fa-calendar-alt"></i> Fecha de inicio: {{asist.turno.date_start}}</label>

                        <hr>


                    </div>

                    <div class="buttons animated fadeIn" *ngIf="showoptions==0">

                        <a (click)="onDeleteConfirm(asist._id)" *ngIf="identity.role=='ROLE_ADMIN'" class="btn btn-md btn-danger">
                            <i class="fas fa-window-close"></i>
                            Dar de Baja</a>

                    </div>
                    <div class="seguro animated fadeIn" *ngIf="confirmado==asist._id">
                        <a (click)="onDeleteAsistencia(asist._id)" class="btn btn-md btn-danger">
                            <i class="fas fa-window-close"></i> confirmado</a>
                        <a (click)="onCancelAsistencia()" class="btn btn-md btn-secondary">
                            <i class="fas fa-ban"></i> Cancelar</a>
                    </div>
                </div>

            </div>


        </div>
    </div>



    <!-- <hr>
        <br>
        <br>
        <br> -->
    <br>
    <div class="row">

        <div id="kDMYz" style="display:inline-block; padding-left: 3%; padding-right:3%;" class="col-md-3 col-xs-3">
            <img id="kDMY_0" style="width:100%;" class="img-responsive" src="../../assets/images/roche.jpeg">
        </div>
        <div id="kDMYz" style="display:inline-block; padding-left: 3%; padding-right:3%;" class="col-md-3 col-xs-3">
            <img id="kDMY_0" style="width:100%;" class="img-responsive" src="../../assets/images/roger.jpeg">
        </div>
        <div id="kDMYz" style="display:inline-block; padding-left: 3%; padding-right:3%;" class="col-md-3 col-xs-3">
            <img id="kDMY_0" style="width:100%;" class="img-responsive" src="../../assets/images/skins.jpeg">
        </div>
        <div id="kDMYz" style="display:inline-block; padding-left: 3%; padding-right:3%;" class="col-md-3 col-xs-3">
            <img id="kDMY_0" style="width:100%;" class="img-responsive" src="../../assets/images/vichy.jpeg">
        </div>

    </div>
    <hr>