<div *ngIf="cliente" class="container">
    <div class="row card2" style="width: 100%">
        <h1>PERFIL CLIENTE</h1>
    </div>
    <br>
    <div class="row card2" style="width: 100%">
        <div class="col-lg-3">
            <div class="card">
                <img class="card-img-top" src="{{ url +'/get-image-user/' + cliente.image}}" *ngIf="cliente.image && cliente.image!=='null'"
                    alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">{{cliente.name}}</h3>
                    <h3 class="card-title">{{cliente.surname}}</h3>
                    <p class="card-text">

                        <a [routerLink]="['/editarcliente',cliente._id]" class="btn btn-secondary">
                        Editar <i class="fas fa-plus-circle"></i></a>
                        <br>
                        <br>
                        <a (click)="mostrarEventos()" class="btn btn-primary" *ngIf="identity.role=='ROLE_ADMIN'">
                         Inscribir a Evento <i class="fas fa-plus-circle"></i></a>

                </div>

            </div>

        </div>
        <div class="row " style="width: 40%">
            <div class="col-lg-8">
                <table class="egt">
                    <tr>

                        <th>
                            <label> Farmacia:</label>
                        </th>

                        <td>
                            {{cliente.nameEstablishment}}
                        </td>

                    </tr>
                    <br>
                    <tr>

                        <th>
                            <label>Código de Farmacia:</label>
                        </th>

                        <td>
                             {{cliente.code}}
                        </td>

                    </tr>
                    <br>
                    <tr>

                        <th>
                            <label> Email:</label>
                        </th>

                        <td>
                            {{cliente.email}}
                        </td>

                    </tr>
                    <br>
                    <tr>

                        <th>
                            <label>Telefono:</label>
                        </th>

                        <td>
                            {{cliente.phone}} 
                        </td>

                    </tr>
                    <br>
                    <tr>

                        <th>
                            <label>NIF/CIF:</label>
                        </th>

                        <td>
                            {{cliente.nifCif}}
                        </td>

                    </tr>
                    <br>
                    <tr>

                        <th>
                            <label>Provincia:</label>
                        </th>

                        <td>
                             {{cliente.province}}
                        </td>

                    </tr>
                    <br>
                    <tr>

                            <th>
                                <label>Dirección:</label>
                            </th>
    
                            <td>
                                 {{cliente.street}}
                            </td>
    
                    </tr>
                    <br>
                    <tr>

                            <th>
                                <label>Código Postal:</label>
                            </th>
    
                            <td>
                                {{cliente.zip}}
                            </td>
    
                    </tr>
                    <br>
                    <tr>
                    

                        <th>
                            <label>Rol:</label>
                        </th>

                        <td>
                                <!-- <label > {{cliente.role}} </label> -->
                            <p *ngIf="cliente.role=='ROLE_ADMIN'" > Administrador </p>
                            <p *ngIf="cliente.role=='ROLE_USER'"> Usuario </p>
                            <p *ngIf="cliente.role=='ROLE_AGENTE'"> Agente </p>
                            <p *ngIf="cliente.role=='ROLE_ENCARGADO'"> Encargado </p>
                        </td>

                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-4">
            <table class="egt">
                
                <tr>

                    <th>
                        <label> Marcas:</label>
                    </th>

                    <td>
                        <br>
                        <br>
                        <p *ngIf="cliente.brandV=='1'" style="width: 100%">
                             Vichy. </p>

                        <p *ngIf="cliente.brandSK=='1'" style="width: 100%">
                             SkinCeuticals. </p>

                        <p *ngIf="cliente.brandLR=='1'" style="width: 100%">
                             La Roche-Posay. </p>

                        <p *ngIf="cliente.brandRG=='1'" style="width: 100%">
                             Roger&Gallet.
                        </p>
                    </td>

                </tr>
            </table>
            <div class="row">

                <div class="col-md-3">
                    <div *ngIf="cliente.file && cliente.file !=null">
                        <a class="btn btn-md btn-primary" href="{{url+'get-ficha/'+cliente.file}}">
                            <i class="fas fa-file-download"></i>&nbsp;Descargar Ficha</a>
                    </div>
                </div>
            </div>

        </div>


    </div>
    <br>
    <div class="row card2" *ngIf="oculto">
        <div *ngIf="!selected">
        <label for="Eventos">Seleccionar Evento:</label>
        <table class="table table-black">
            <thead>
                <tr>

                    <th scope="col">Titulo del evento</th>
                    <th scope="col">Provincia</th>
                    <th scope="col">Seleccionar</th>
                </tr>
            </thead>
            <tbody>
                <tr class="animated bounceInRight" *ngFor="let event of eventos | filter:term:brand:visible:name:email:establecimiento:phone">

                    <td scope="row">{{event.title}}</td>
                    <td>{{event.province}}</td>
                    <td><a (click)="mostrarTurnos(event)" class="btn btn-primary btn-md">
                            <i class="fas fa-info-circle"></i> Seleccionar</a></td>
                    

                </tr>

            </tbody>
        </table>
    </div>

    <div *ngIf="selected">
        <label  for="turno">Seleccionar Turno:</label>
        <table class="table table-black">
            <thead>
                <tr>

                    <th scope="col">Nombre</th>
                    <th scope="col">Hora Inicio</th>
                    <th scope="col">Hora Fin</th>
                    <th scope="col">Fecha Inicio</th>
                    <th scope="col">Fecha Fin</th>
                    <th scope="col">Plazas disponibles</th>
                    <th scope="col">Inscribir</th>
                </tr>
            </thead>
            <tbody>
                <tr class="animated bounceInRight" *ngFor="let turno of turnos | filter:term:brand:visible:name:email:establecimiento:phone">

                    <td scope="row">{{turno.name}}</td>
                    <td>{{turno.start_h}}</td>
                    <td>{{turno.end_h}}</td>
                    <td>{{turno.date_start}}</td>
                    <td>{{turno.date_end}}</td>
                    <td>{{turno.aforo}}</td>
                    <td>
                        <a (click)="GeneraAsistencia(turno)" class="btn btn-primary btn-md">
                                <i class="fas fa-plus-circle"></i> Inscribir</a>
                    </td>
                   
                </tr>

            </tbody>
        </table>
    </div>

    </div>

    <div class="row card2" style="width: 100%">
        <div class="col-lg-12">
            <h2 style="text-transform: capitalize;">EVENTOS DE {{cliente.name}} </h2>
        </div>
        <hr>


                <table  class="table table-black">
                        <thead>
                          <tr>
                            
                            <th scope="col">Imagen</th>
                            <th scope="col">Título del Evento</th>
                            <th scope="col">Campaña</th>
                            <th scope="col">Fecha Inicio</th>
                            <th scope="col">Fecha Fin</th>
                            <th scope="col"> Turno</th>
                            <th scope="col"> Acciones</th>
                          </tr>
                        </thead>
                        <tbody>
                       <tr class="animated bounceInRight" *ngFor="let asist of asistencias ">
                            <td scope="row"><img src="{{url+'get-image-user/'+cliente.image}}" class="useravatarnav"></td>
                            <td>{{asist.turno.event.title}}</td>
                            <td>{{asist.turno.event.campana}}</td>
                            <td>{{asist.turno.date_start}}</td>
                            <td>{{asist.turno.date_end}}</td>
                            <td>{{asist.turno.name}}</td>
                            <td><div class="buttons animated fadeIn" *ngIf="showoptions==0">

                                    <a (click)="onDeleteConfirm(asist._id)" *ngIf="identity.role=='ROLE_ADMIN'" class="btn btn-md btn-primary">
                                        <i class="fas fa-window-close"></i>
                                        Dar de Baja</a>
        
                                </div>
                                <div class="seguro animated fadeIn" *ngIf="confirmado==asist._id">
                                    <a (click)="onDeleteAsistencia(asist._id)" class="btn btn-md btn-danger">
                                        <i class="fas fa-window-close"></i> confirmado</a>
                                    <a (click)="onCancelAsistencia()" class="btn btn-md btn-secondary">
                                        <i class="fas fa-ban"></i> Cancelar</a>
                                </div></td>
                            
                          </tr>
              
                        </tbody>
                      </table>

        </div>
    </div>

    <br>
    <div class="row">

        <div id="kDMYz" style="display:inline-block; padding-left: 3%; padding-right:3%;" class="col-md-3 col-xs-3">
            <img id="kDMY_0" style="width:100%;" class="img-responsive" src="../../assets/images/roche.jpeg">
        </div>
        <div id="kDMYz" style="display:inline-block; padding-left: 3%; padding-right:3%;" class="col-md-3 col-xs-3">
            <img id="kDMY_0" style="width:100%;" class="img-responsive" src="../../assets/images/roger.jpeg">
        </div>
        <div id="kDMYz" style="display:inline-block; padding-left: 3%; padding-right:3%;" class="col-md-3 col-xs-3">
            <img id="kDMY_0" style="width:100%;" class="img-responsive" src="../../assets/images/skins.jpeg">
        </div>
        <div id="kDMYz" style="display:inline-block; padding-left: 3%; padding-right:3%;" class="col-md-3 col-xs-3">
            <img id="kDMY_0" style="width:100%;" class="img-responsive" src="../../assets/images/vichy.jpeg">
        </div>

    </div>
    <hr>