<div *ngIf="evento">
    <div class="row card2">
            <div class="card" style="width: 27rem;">
                    <img class="card-img-top" src="{{ url +'/get-image-event/' + evento.image}}"  *ngIf="evento.image && evento.image!=='null'" alt="Card image cap">
                    <div class="card-body">
                      <h3 class="card-title">{{evento.title}}</h3>
                      <p class="card-text"> <p>
                            {{evento.description}}
                        </p>
                      <a [routerLink]="['/evento',1] " class="btn btn-secondary"><i class="fas fa-arrow-circle-left"></i> Volver</a>
                      <a  [routerLink]="['/crear-turno',evento._id] " class="btn btn-primary" *ngIf="identity.role=='ROLE_ADMIN'" href="#"><i class="fas fa-plus-circle"></i> Agregar Turnos</a>
        
                    </div>
                  </div>
        
    </div>

    <div class="row card2">
    
    
        <div class="page-item col-md-3 animated fadeInRight" *ngFor="let turno of turnos">
            <!-- Card Projects -->

            <div class="card">
              <div class="card-action">
                    <div class="alinear">
                        <a class="card-title">
                            {{turno.name}}
                        </a>
                        <p>
                          {{turno.date_start}}<br>
                          {{turno.date_end}}<br>
                          {{turno.start_h}}<br>
                          {{turno.Aforo}}<br>
                         
                        </p>

                        <hr>


                    </div>

                    <div  class="buttons animated fadeIn" *ngIf="identity.role=='ROLE_ADMIN' && showoptions==0">

                        <a [routerLink]="['/editar-turno',turno._id] " class="btn btn-sm btn-warning">
                            <i class="fas fa-edit"></i>Editar</a>
                        <a (click)="onDeleteConfirm(turno._id)" class="btn btn-sm btn-danger">
                            <i class="fas fa-window-close"></i>
                            Borrar</a>

                    </div>
                    <div class="seguro animated fadeIn" *ngIf="confirmado==turno._id">
                        <a (click)="onDeleteTurno(turno._id)" class="btn btn-sm btn-danger"><i class="fas fa-window-close"></i> Borrar</a>
                        <a (click)="onCancelTurno()" class="btn btn-sm btn-secondary"><i class="fas fa-ban"></i> Cancelar</a>
                    </div>
                </div>

            </div>


        </div>
    </div>
    


</div>