<div class="container">
    <hr>
    <h1>{{titulo}}</h1>
           

        
    <div class="row card2">


        <div class="page-item col-md-3 animated fadeInRight" *ngFor="let asist of asistencias">
            <!-- Card Projects -->

            <div class="card">
                <div class="card-image" [routerLink]="['/detalle-evento',asist.turno.event._id] ">
                    <div class="coantainer">
                        <img src="{{ url +'/get-image-event/' + asist.turno.event.image}}" alt="Avatar" class="img-responsive imasge" style="width:100%">
                        <div class="middles">
                            <div class="texto">
                                <p>
                                    
                                        {{asist.turno.date_start}}                                        
                                    <button class="btn btn-primary">
                                        Ver más.
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card-action">
                    <div class="alinear">
                        <a class="card-title" [routerLink]="['/detalle-evento',asist._id] ">
                            <!-- <i class="fas fa-user-tie"> </i>  -->
                             {{asist.turno.event.title}}
                        </a>
                        <label> <i class="fas fa-calendar-alt"></i> Fecha de inicio: <br> {{asist.turno.date_start}}</label>

                        <hr>


                    </div>

                    <div class="buttons animated fadeIn" *ngIf="showoptions==0">

                        <a (click)="onDeleteConfirm(asist._id)" class="btn btn-md btn-danger">
                            <i class="fas fa-window-close"></i>
                            Darme de Baja</a>

                    </div>
                    <div class="seguro animated fadeIn" *ngIf="confirmado==asist._id">
                        <a (click)="onDeleteAsistencia(asist._id)" class="btn btn-md btn-danger">
                            <i class="fas fa-window-close"></i> confirmado</a>
                        <a (click)="onCancelAsistencia()" class="btn btn-md btn-secondary">
                            <i class="fas fa-ban"></i> Cancelar</a>
                    </div>
                </div>

            </div>


        </div>
    </div>
    <br>
    <div class="row card2">

            <div id="kDMYz" style="display:inline-block; padding-left: 3%; padding-right:3%;" class="col-md-3 col-xs-3">
                <img id="kDMY_0" style="width:100%;" class="img-responsive" src="../../assets/images/roche.jpeg">
            </div>
            <div id="kDMYz" style="display:inline-block; padding-left: 3%; padding-right:3%;" class="col-md-3 col-xs-3">
                <img id="kDMY_0" style="width:100%;" class="img-responsive" src="../../assets/images/roger.jpeg">
            </div>
            <div id="kDMYz" style="display:inline-block; padding-left: 3%; padding-right:3%;" class="col-md-3 col-xs-3">
                <img id="kDMY_0" style="width:100%;" class="img-responsive" src="../../assets/images/skins.jpeg">
            </div>
            <div id="kDMYz" style="display:inline-block; padding-left: 3%; padding-right:3%;" class="col-md-3 col-xs-3">
                <img id="kDMY_0" style="width:100%;" class="img-responsive" src="../../assets/images/vichy.jpeg">
            </div>
      
        </div>
    <hr>

</div>