<div class="turno-box" *ngIf="turno">

  <div class="clearfix"></div>
  <div id="turno-detail" *ngIf="assistant">
    <div class="container">
      <div id="print-section">
        <div class="row card2">
          <h1>Listado de Asistentes</h1>

        </div>
        <div class="row card2 ">

        <form #formAssistant="ngForm" class="col-lg-12" (ngSubmit)="onSubmit()">
          <table class="table table-black">
            <thead>
              <tr>

                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Campaña</th>
                <th scope="col">Turno</th>
                <th scope="col">Establecimiento</th>
                <th scope="col">Codigo Farmacia</th>
                <th scope="col">Teléfono</th>
                <th scope="col">e-Mail</th>
                <th scope="col"> Asistencia</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let asistencias of assistant">

                <td scope="row">{{asistencias.cliente.name}}</td>
                <td>{{asistencias.cliente.surname}}</td>
                <td>{{asistencias.turno.event.campana}}</td>
                <td>{{asistencias.turno.name}}</td>
                <td>{{asistencias.cliente.nameEstablishment}}</td>
                <th>{{asistencias.cliente.code}}</th>
                <th><a href="tel:{{asistencias.cliente.phone}}">{{asistencias.cliente.phone}}</a></th>
                <th><a href="mailto:{{asistencias.cliente.email}}">{{asistencias.cliente.email}}</a></th>
                <th>
                  <label>
                    <i *ngIf="asistencias.check" class="fas fa-check-circle"></i>
                  </label>
                  <input type="checkbox" [checked]="asistencias.check" (change)="asistencias.check = !asistencias.check" />

                </th>
              </tr>

            </tbody>
          </table>
          <div class="row">
            <div class="col-md-10">

            </div>
            <br>
            <div class="col-md-2">
              <input type="submit" value="Pasar Asistencia" class="btn btn-secondary" />
            </div>
          </div>

        </form>
      </div>




      </div>
      <br>
      <br>
      <button class="btn btn-primary" (click)="print()">Imprimir Reporte /Generar PDF</button>

      <a class="btn btn-secondary" href="{{url}}getreporte-asist/{{turno._id}}">Reporte CSV</a>
      <a class="btn btn-primary" (click)="enviarMail();">Recordar via  Mail</a>
      <div *ngIf="alertMessage" class="alert alert-success">
        <strong>{{alertMessage}}</strong>
    </div> 
    
    


      <hr>
      <a [routerLink]="['/detalle-evento',turno.event._id]" class="btn btn-secondary">Regresar</a>
    </div>
  </div>

</div>