<div class="turno-box" *ngIf="turno">

  <div class="clearfix"></div>
  <div id="turno-detail" *ngIf="assistant">
    <div class="container card2">
      <div id="print-section">
        <h1>Listado de Asistentes</h1>
        <h2>Evento: {{turno.event.title}}</h2>
        
        <hr>
        <form #formAssistant="ngForm" (ngSubmit)="onSubmit()">
            <table  class="table table-black">
                <thead>
                  <tr>
                    
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Nombre del Turno</th>
                    <th scope="col">Establecimiento</th>
                    <th scope="col">Codigo</th>
                    <th scope="col"> Asistencia</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let asistencias of assistant">
                    
                    <td scope="row">{{asistencias.cliente.name}}</td>
                    <td>{{asistencias.cliente.surname}}</td>
                    <td>{{asistencias.turno.name}}</td>
                    <td>{{asistencias.cliente.nameEstablishment}}</td>
                    <th >{{asistencias.cliente.code}}</th>
                    <th><label><i *ngIf="asistencias.check" 
                      class="fas fa-check-circle"></i></label><input type="checkbox"  
                      #check="ngModel" name="check" [(ngModel)]="asistencias.check" 
                      class="form-control form-control-sm" ></th>
                  </tr>
      
                </tbody>
              </table>
              <div class="row">
                  <div class="col-md-4">
                      <input type="submit" value="Actualizar" class="btn btn-success" />
                  </div>
              </div>
          
        </form>

        

      </div>
      <button class="btn btn-primary" (click)="print()">Imprimir Reporte /Generar PDF</button>

      <hr>
      <a [routerLink]="['/evento',1]" class="btn btn-info">Regresar</a>
    </div>
  </div>

</div>