<div class="col-lg-8" *ngIf="identity&& identity.role=='ROLE_ADMIN' || identity.role=='ROLE_AGENTE' || identity.role=='ROLE_ENCARGADO'">
    <h1>{{titulo}}</h1>

    <div *ngIf="alertMessage">
        <div class="alert alert-info">
            {{alertMessage}}
        </div>
    </div>
    <div class="row card2">
        <div class="col-lg-1" style="display: flex;justify-content: center;align-items: center">
            <button class="btn btn-primary" [routerLink]="['/evento',1]">
                <i class="fas fa-chevron-circle-left"> </i>Volver
            </button>

        </div>
        <div class="col-lg-11">

            <form #formTurno="ngForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-4 col-xs-6 ">
                        <p>
                            <br>
                            <label>Nombre:</label>
                            <input type="text" #name="ngModel" name="name" [(ngModel)]="turno.name" required class="form-control" />
                            <span *ngIf="!name.valid && name.touched"> El titulo es obligatorio</span>
                        </p>

                    </div>


                    <div class="col-md-4 col-xs-6">
                        <br>

                        <label for="date_start">Fecha de Inicio:</label>



                        <input type="date" class="form-control" id="date_start" #date_start="ngModel" name="date_start" [(ngModel)]="turno.date_start"
                            required>



                    </div>

                    <div class="col-md-4 col-xs-6">
                        <br>
                        <label for="date_end">Fecha de Termino:</label>

                        <input type="date" class="form-control" id="date_end" #date_end="ngModel" name="date_end" [(ngModel)]="turno.date_end"
                            required>
                    </div>
                    <div class="col-md-6 col-xs-6 ">
                            <br>
                            <label for="start_h">Hora de inicio:</label>
    
                            <input type="time" class="form-control" id="start_h" #start_h="ngModel" name="start_h" [(ngModel)]="turno.start_h"
                                required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7">
                            <br>
                            <label for="end_h">Hora de fin:</label>
    
                            <input type="time" class="form-control" id="end_h" #end_h="ngModel" name="end_h" [(ngModel)]="turno.end_h"
                                required>
                    </div>
                    <div class="col-md-5">
                            <br>
                            <label for="aforo">Aforo</label>
    
                            <input type="text" class="form-control" id="aforo" #aforo="ngModel" name="aforo" [(ngModel)]="turno.aforo"
                                required>
                                
                    </div>
                    <div class="col-md-4">
                        <br>

                        <input type="submit" [disabled]="!formTurno.form.valid" value="{{titulo}}" class="btn btn-success" />
                    </div>
                </div>
            </form>

        </div>
    </div>

    <div class="col-lg-4" *ngIf="showoptions==0 && identity.role=='ROLE_ADMIN' || identity.role=='ROLE_AGENTE' || identity.role=='ROLE_ENCARGADO'">
        <h1>Error</h1>
        <p>No tienes acceso a esta parte del curso</p>

    </div>
</div>