<div *ngIf="identity" class="navigation col-lg-12 col-xs-12" style="padding: 0px;">
    <nav  id="navigation" style="width:100%; z-index: 1;box-shadow: 0px -1px 6px rgba(0,0,0,.2);" class="navbar navbar-expand-lg navbar-light ">

        <!-- <a class="navbar-brand" [routerLink]="['/']">
                    Inicio
                </a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" style="margin-right: 11%;" id="navbarText">

            <span class="navbar-text">


                <ul class="navbar-nav ">
                    <ul class="navbar-nav my-2 my-lg-0">

                        <li class="nav-item">

                            <a class="nav-link" [routerLink]="['/evento',1]" [routerLinkActive]="['actived']">

                                Eventos
                            </a>
                        </li>
                        <li class="nav-item">

                            <a [routerLink]="['/mis-eventos']" [routerLinkActive]="['actived']" class="nav-link">

                                Mis Eventos
                            </a>

                        </li>
                        <li class="nav-item" *ngIf="identity && identity.role == 'ROLE_ADMIN' || identity.role =='ROLE_AGENTE' || identity.role=='ROLE_ENCARGADO'">

                            <a [routerLink]="['/panel-admin']" [routerLinkActive]="['actived']" class="nav-link">

                                Clientes
                            </a>

                        </li>
                        <li class="nav-item">

                            <a [routerLink]="['/mis-datos']" class="nav-link" [routerLinkActive]="['actived']">


                                Mi Perfil
                                <!-- {{identity.name}} -->

                            </a>

                        </li>
                        <li class="nav-item">
                            <a [routerLink]="['/consulta-add']" class="nav-link" [routerLinkActive]="['actived']">Consultas</a>
                        </li>
                        <li (mouseover)="UpdateNotificacion();" class="nav-item" *ngIf="identity.role==='ROLE_ADMIN'">

                            <a  class="nav-link" id="example" rel="popover" data-content="" data-original-title="Notificaciones" data-placement="bottom">
                                Notificaciones <span class="badge badge-light">+</span>
                            </a>

                            <div id="popover_content_wrapper" style="display: none">
                                    <ul class="list-group">
                                            <li *ngFor="let notificaciones of notificacion" class="list-group-item">{{notificaciones.body}}<br><label style="font-size: 9px">{{notificaciones.date}}</label></li>
                                            
                                          </ul>
                            </div>

                        </li>
                        <li class="nav-item" *ngIf="identity && identity.role == 'ROLE_USER'">

                            <a href="http://canalfarma.com" [routerLinkActive]="['actived']" class="nav-link">

                                Canal Farma
                            </a>

                        </li>


                        <li class="nav-item">

                            <a class="nav-link btn-logout" (click)="logout()" *ngIf="identity && identity.role == 'ROLE_ADMIN' || identity.role =='ROLE_AGENTE' || identity.role=='ROLE_ENCARGADO'">

                                Salir
                            </a>

                        </li>
                    </ul>
                </ul>
            </span>
        </div>
    </nav>
</div>
<div [style.display]="!identity?'none':'inherit'" class="central col-lg-12" style="background: #f2f2f2; height: 100%; padding: 0px;">
    <router-outlet></router-outlet>
</div>





<div class="row" style="width: 100% ;height:50%; margin-left: 0px;" *ngIf="!identity">
    <div id="over" style="height: 100%;">
        <img style="max-height: 130px;" class="img-responsive" src="../assets/images/COSMÉTICA ACTIVA.png" />
    </div>

</div>

<div class="row justify-content-center align-items-center loginform" style="height: 47%; font-family: Gotham-Book;" *ngIf="!identity">


    <div class="col-lg-3">



        <div *ngIf="errorMessage" class="alert alert-danger">
            <strong>Ups!</strong>{{errorMessage}}
        </div>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-12">
            <p>
                <label>Correo:</label>
                <input type="email" #email="ngModel" name="email" [(ngModel)]="cliente.email" class="form-control" required placeholder="Introduce tu e-mail"
                />
                <span *ngIf="!email.valid && email.touched">
                    El campo email es obligatorio!
                </span>

            </p>
            <p>
                <label>Contraseña:</label>
                <input type="Password" #password="ngModel" name="password" [(ngModel)]="cliente.password" class="form-control" placeholder="Introduce tu password"
                />

            </p>
            <br>
            <p style="text-align: right;">
            <input type="submit" value="Entrar" class="btn btn-primary" >
            </p>
        </form>

    </div>
</div>