<div *ngIf="identity"  class="navigation col-lg-12 col-xs-12" style="padding: 0px;">
        <nav id="navigation" style="width:100%; z-index: 1;box-shadow: 0px -1px 6px rgba(0,0,0,.2);" class="navbar navbar-expand-lg navbar-light ">
               
                <a class="navbar-brand" [routerLink]="['/']">
                    <img src="https://www.loreal-paris.com.mx/img/header/logo.png"/>
                    
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                  <ul class="navbar-nav mr-auto">
                    
                  </ul>
                  <span class="navbar-text">
                    <ul class="navbar-nav mr-auto">
                            <ul class="navbar-nav my-2 my-lg-0">
                                    <li class="nav-item">
                                        <a [routerLink]="['/buscar']" [routerLinkActive]="['actived']" class="nav-link">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                            Provincias
                                        </a>
                    
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" [routerLink]="['/evento',1]" [routerLinkActive]="['actived']">
                                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                            Eventos
                                        </a>
                                    </li>
                                    
                                    <li class="nav-item">
                                        <a [routerLink]="['/mis-datos']" [routerLinkActive]="['actived']">
                                            <img id="user_image_logged" src="{{url+'get-image-user/'+identity.image}}" class="useravatarnav" /><br>
                                            
                                            <span id="identity_name">
                                                Perfil de {{identity.name}}
                                            </span> 
                                        </a>                                     
                                        
                                    </li>
                                    <li class="nav-item">                     
                                             <a class="nav-link btn-logout" (click)="logout()" >
                                            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                                            Salir
                                        </a>
                                       
                                    </li>
                                </ul>
                    </ul>
                  </span>
                </div>
              </nav>
            </div>
<div  [style.display]="!identity?'none':'inherit'" class="central col-lg-12" style="background: #f2f2f2; height: 100%; padding: 0px;">
    <router-outlet></router-outlet>
</div>





<div class="row" style="width: 100% ;height:30%;" *ngIf="!identity">
    <div id="over">
        <img src="../assets/images/CAE.png" height="150px" />
    </div>

</div>

<div class="row justify-content-center align-items-center loginform" style="height: 70%;" *ngIf="!identity">


    <div class="col-lg-6">
        <div class="justify-content-center align-items-center">
            <h1> Identificate</h1>
        </div>


        <div *ngIf="errorMessage" class="alert alert-danger">
            <strong>Ups!</strong>{{errorMessage}}
        </div>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-10">
            <p>
                <label>Correo:</label>
                <input type="email" #email="ngModel" name="email" [(ngModel)]="cliente.email" class="form-control" required placeholder="Introduce tu e-mail"
                />
                <span *ngIf="!email.valid && email.touched">
                    El campo email es obligatorio!
                </span>

            </p>
            <p>
                <label>Password:</label>
                <input type="Password" #password="ngModel" name="password" [(ngModel)]="cliente.password" class="form-control" placeholder="Introduce tu password"
                />

            </p>
            <input type="submit" value="Entrar" class="btn btn-primary">
        </form>

    </div>
</div>